{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% comment %} Bootstrap css {% endcomment %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  
  <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "css/mainn.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "css/book_profile.css" %}'>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
  
  <title> Library Management system </title>
  {% block css %} 
  
  {% endblock %}
</head>

<body id='page1'>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(175, 139, 139);">
    <a class="navbar-brand" href="#">Library Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      
        {% if not user.is_staff %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'library:home' %}"> Home <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}

        {% if user.is_authenticated %}
          {% if user.is_staff %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'library:admin_home' %}"> Admin Dashboard <span class="sr-only">(current)</span></a>
            </li>
          {% endif %} 

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome @{{user.username}}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{%url 'library:userlogout' %}">Logout</a>
            </div>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'library:user_profile' user.id %}"> Profile <span class="sr-only">(current)</span></a>
        </li>

        {% if user.role.role == 'Student' or user.role.role == 'Faculty' %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'library:user_book_issue' user.id %}"> View Issued Books</a>
        </li>
        {% endif %}

        {% if user.is_staff or user.role.role == 'Librarian' %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'library:book_records' %}"> Show Book Records</a>
        </li>
        {% endif %}


        {% else %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'library:userlogin' %}"> Login </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Signup
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'library:signup' %}">Student/Faculty</a>
            <a class="dropdown-item" href="{% url 'library:libsignup' %}">Librarian</a>
          </div>
        </li>
        {% endif %}
      </ul>
      
      {% block search %}
      {% endblock %}
    </div>
  </nav>

{% block content %}
{% endblock %}

<script src="{% static 'js/myjQuery.js' %}"></script>
<script src="{% static 'js/main.js' %}"> </script>

{% block javascript %} 
{% endblock %}
</body>
</html>