h1 {
  margin-top: -1px;
  margin-bottom: -24px;
  margin-right: 574px;
  margin-left: 505px;
  font-family: "Times New Roman", "Times", "serif";
  color: rgb(243, 234, 234);
  text-align: center;
  /* background-color: rgb(126, 126, 146); */
}


